* {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
}
/* header section */
header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 80px;
}

.nav-links {
    display: flex;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* first section */

.first {
    
}
